* {
    font-family: 'Space Mono', monospace;
}

.app-title {
    text-align: center;
    background-image: linear-gradient(to right, #40E0D0, #6495ED);
    margin-bottom: 20px;
}

.btn {
    width: 100%;
    background-color: #40E0D0;
    color: #FFFFFF;
    margin-top: 7px;
}

.form-input {
    width: 100%;
}

li {
    list-style: none;
}

.weather-data {
    padding: 4px;
}


