* {
    font-family: 'Space Mono', monospace;
}

.app-title {
    text-align: center;
}

.btn {
    width: 100%;
    background-color: #40E0D0;
    color: #FFFFFF;
    /* font-family: 'Space Mono', monospace; */
    margin-top: 7px;
}

.form-input {
    width: 100%;
}

